body {
    background-color: lightgrey;
    margin-top: 0%;
    width: 100%;
}

.head {
    width: 100%;
    height: auto;
    margin-top: 0%;
    background-color: white;
    color: red;
    text-align: center;
    font-size: 19px;
    text-decoration: underline;
    padding: 4px;


}

.form {
    width: 100%;
    height: auto;
    justify-items: start;
}

.form input {
    width: 450px;
    height: 25px;
    margin-left: 80px;
    margin-top: 5px;
}

.form input[type="email"] {

    margin-left: 113px;
}

.form input[type="tel"] {
    margin-left: 104px;
}

.form input[type="radio"] {
    width: 15px;
    height: auto;
    margin-left: 100PX;
}

.form input[type="date"] {
    width: 450px;
    height: 25px;
    margin-left: 58PX;
}

.form textarea {
    width: 450px;
    height: 60px;
    margin-left: 93PX;
    margin-top: 5px;
}

.form .city input[type="text"] {
    width: 450px;
    height: 25px;
    margin-left: 116PX;
}

.form .area input[type="text"] {
    width: 450px;
    height: 25px;
    margin-left: 88PX;
}

.quali select {
    width: 150px;
    height: auto;
    margin-left: 60px;
    margin-top: 2px;
}

.special {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 5px;
}

.opt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.special label {
    display: flex;
    align-items: center;
    gap: 10px;

}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-left: 40px;
}

button{
    background-color: #0fa10d;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
}