<<<<<<< HEAD
:root{
    --bg-back:#F9FAFC;
    --bg-dashbord:#101828;
    --bg-white:white;
    --bg-box:#ffffff;
    --bg-log:#c20008;
    --bg-blue:#1447e6;

    --txt-primary:#101828;
    --txt-white:white;
    --txt-blue:#1447e6; 
    --txt-red:#c10007;
    --txt-valet:#8200db;
    --txt-green:#42a26a;

}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body{
    margin: 0;
    padding: 0;
    background-attachment: fixed !important;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--bg-back);
    overflow: auto;
    }
#Admin {
   width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    clear: both !important;
    overflow:auto !important;
   
   
}
.sidebar{
     width: 15%;
     height: 600px;
     padding: 15px;
     background-color:var(--bg-dashbord);
}

.sidebar ul li{
    list-style: none;
    padding: 25px;
    color: white;
    display: block;
}
.sidebar ul li:hover{
    background-color: var(--bg-blue);
    border-radius: 3px;
    cursor: pointer;
}
.sidebar .log:hover{
    background-color: var(--bg-log);
    border-radius: 3px;
    cursor: pointer;
}

.sidebar ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

 .sidebar .log{
    background-color: var(--bg-log);
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    
}

.main-content{
    width: 80%;
    height: 600px;
    padding: 15px;
    background-color:var(--bg-back);
    overflow: auto !important;   
}

.admin-content{
    width: 100%;
    height: auto;
    padding: 55px;
    background-color:var(--bg-back);
    overflow: auto !important;   
}

.admin-content h1 
{
 font-size: 35px;
 margin-top: 6%;
 margin-bottom: 15px; 

}

.Dashboard-Overview{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.admin-card{
    width: 25%;
    height: auto;
    background-color:var(--bg-box);
    margin: 15px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 4px;
    

}

.admin-card h1{
    font-size: 20px;
    padding: 0px 0px 7px 0px;
}

.admin-card h2{
    color: var(--txt-blue);
}

.admin-card .user{
    color: var(--txt-valet);
}

.admin-card .sessions{
    color: var(--txt-green);
}

.recent-activity{
    width: 85.5%;
    height: auto;
    background-color:var(--bg-box);
    margin: 5px;
    padding: 45px 30px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 3px;
    margin-top: 2%;
}

.recent-activity li{
    padding: 7px;
    font-size: 18px;
    color: var(--txt-primary);

}
.recent-activity h2{
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}

.movies{
    width: 89%;
    height: auto;
    background-color:var(--bg-back);
    margin: 5px;
    padding: 25px 20px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius:7px;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto !important;
}

.movies-card{
    width: 30%;
    height: auto;
    margin: 15px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 7px;
    text-align: center;
    background-color: var(--bg-back);
    margin-top: 17px;
    
}

.movies .movies-card img{
    width: 150px;
    border-radius: 70px;
}
.footer{
    width: 100%;
    height: auto;
    background-color: var(--bg-dashbord);    
    padding: 15px;
    color: white;
    text-align: center;
    bottom: 0;
    position: fixed;
}



/* @-webkit-keyframes dash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes dash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
} */
=======
:root{
    --bg-back:#F9FAFC;
    --bg-dashbord:#101828;
    --bg-white:white;
    --bg-box:#ffffff;
    --bg-log:#c20008;
    --bg-blue:#1447e6;

    --txt-primary:#101828;
    --txt-white:white;
    --txt-blue:#1447e6; 
    --txt-red:#c10007;
    --txt-valet:#8200db;
    --txt-green:#42a26a;

}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body{
    margin: 0;
    padding: 0;
    background-attachment: fixed !important;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--bg-back);
    overflow: auto;
    }
#Admin {
   width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    clear: both !important;
    overflow:auto !important;
   
   
}
.sidebar{
     width: 15%;
     height: 600px;
     padding: 15px;
     background-color:var(--bg-dashbord);
}

.sidebar ul li{
    list-style: none;
    padding: 25px;
    color: white;
    display: block;
}
.sidebar ul li:hover{
    background-color: var(--bg-blue);
    border-radius: 3px;
    cursor: pointer;
}
.sidebar .log:hover{
    background-color: var(--bg-log);
    border-radius: 3px;
    cursor: pointer;
}

.sidebar ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

 .sidebar .log{
    background-color: var(--bg-log);
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    
}

.main-content{
    width: 80%;
    height: 600px;
    padding: 15px;
    background-color:var(--bg-back);
    overflow: auto !important;   
}

.admin-content{
    width: 100%;
    height: auto;
    padding: 55px;
    background-color:var(--bg-back);
    overflow: auto !important;   
}

.admin-content h1 
{
 font-size: 35px;
 margin-top: 6%;
 margin-bottom: 15px; 

}

.Dashboard-Overview{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.admin-card{
    width: 25%;
    height: auto;
    background-color:var(--bg-box);
    margin: 15px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 4px;
    

}

.admin-card h1{
    font-size: 20px;
    padding: 0px 0px 7px 0px;
}

.admin-card h2{
    color: var(--txt-blue);
}

.admin-card .user{
    color: var(--txt-valet);
}

.admin-card .sessions{
    color: var(--txt-green);
}

.recent-activity{
    width: 85.5%;
    height: auto;
    background-color:var(--bg-box);
    margin: 5px;
    padding: 45px 30px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 3px;
    margin-top: 2%;
}

.recent-activity li{
    padding: 7px;
    font-size: 18px;
    color: var(--txt-primary);

}
.recent-activity h2{
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}

.movies{
    width: 89%;
    height: auto;
    background-color:var(--bg-back);
    margin: 5px;
    padding: 25px 20px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius:7px;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto !important;
}

.movies-card{
    width: 30%;
    height: auto;
    margin: 15px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 7px;
    text-align: center;
    background-color: var(--bg-back);
    margin-top: 17px;
    
}

.movies .movies-card img{
    width: 150px;
    border-radius: 70px;
}
.footer{
    width: 100%;
    height: auto;
    background-color: var(--bg-dashbord);    
    padding: 15px;
    color: white;
    text-align: center;
    bottom: 0;
    position: fixed;
}



/* @-webkit-keyframes dash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes dash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
} */
>>>>>>> bf06621cdf7f1f438a1de426db740cb8ed09ee77
