body{
    background-color: black;
    color: white;
    font-family: lucida sans-serif;

}

body div{
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 20px;
    
}