<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Blinkit</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
        <link rel='stylesheet' type='text/css' media='screen' href='css/css/font-awesome.css'>
    <script src='main.js'></script>
</head>
<body>
    <!-- header -->
     <section id="header">
        <div class="header">
            <!-- logo -->
            <div class="logo">
                <h1>Blinkit</h1>
            </div>
            <!-- search box -->
            <div class="search-box">
                <input type="text" placeholder="Search for products..">
            </div>
           <!-- social media -->
            <div class="social-media">
                <span class="fa fa-instagram"></span>
                <span class="fa fa-facebook"></span>
                <span class="fa fa-twitter"></span>
                <span class="fa fa-linkedin"></span>
                <span class="fa fa-youtube"></span>

            </div>
        
     </section>
     <!-- navbar -->
     <section id="navbar">
        <div class="navbar">
            <a href="fixed_layout.html">Home</a>
            <a href="products.html">Products</a>
            <a href="About Us.html">About Us</a>
            <a href="Contact Us.html">Contact Us</a>
            <a href="Login.html">Login</a>
        </div>
     </section>
     <!-- slider -->
     <section id="slider">
        <div class="slider">
            <img src="https://i.ytimg.com/vi/CW_VEUQ0Lg0/maxresdefault.jpg" alt="Slider Image">
            <button class="btn">Read More</button>
        </div>

     <!-- rightsidebar -->
      <section id="rightsidebar">
        <div class="rightsidebar">
            <h2>Categories</h2>
            <ul>
                <li><a href="#">Fruits & Vegetables</a></li>
                <li><a href="#">Dairy & Bakery</a></li>
                <li><a href="#">Beverages</a></li>
                <li><a href="#">Snacks</a></li>
                <li><a href="#">Household Essentials</a></li>
                <li><a href="#">Personal Care</a></li>
                <li><a href="#">Baby Care</a></li>
                <li><a href="#">Pet Care</a></li>
            </ul>
        </div>
        </section>
        <!-- footer -->
        <section>
        <div class="footer">
            <p>&copy; 2024 Blinkit. All rights reserved.</p>
        </section>
</body>
</html>